.para-style {
    height: 250px;
    font-size: 40px;
    font-style:italic;
    color: black;
}

.nama {
    font-size: 40px;
    color: black;
}

img {
    display: relative;
    width: 10px;
    height: 590px;
}

.linkedin {
    background-color: transparent;
    margin-bottom: 300px;
    font-size: 15px;
    width: 150px;
    color: black;

}
 .linkedin:hover {
    background-color: rgb(51, 53, 62);
 }

